@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/* Primary colors */
/* Neutral colors */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Red Hat Display", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #e0e8ff;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  width: 40rem;
  border-radius: 2rem;
}

.card .card-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem 2rem 0 0;
}

.card .card-title {
  padding: 3.2rem 3.2rem 1.6rem 3.2rem;
  text-align: center;
  color: #1f2f56;
  font-weight: 900;
  font-size: 2.8rem;
}

.card .card-text {
  text-align: center;
  font-weight: 500;
  color: #7280a7;
  padding: 0 3.2rem;
}

.plan {
  background-color: #f5f7ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 2rem;
  margin: 1.6rem 3.2rem;
  padding: 1.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plan .plan-music-icon {
  padding-right: 1.6rem;
}

.plan .plan-info {
  text-align: center;
}

.plan .plan-info .plan-type {
  font-weight: 900;
  color: #1f2f56;
  padding-bottom: 0.4rem;
}

.plan .plan-info .plan-cost {
  font-weight: 500;
  color: #7280a7;
}

.plan .plan-change {
  margin: 0 1.6rem 0 auto;
  color: #3829e0;
  font-weight: 700;
}

.plan .plan-change:hover {
  text-decoration: none;
  opacity: 0.8;
}

.proceed-payment {
  margin: 1.6rem 3.2rem;
  padding: 1.6rem;
  border-radius: 1rem;
  border: none;
  background-color: #3829e0;
  color: #f5f7ff;
  font-weight: 700;
  cursor: pointer;
}

.proceed-payment:hover {
  opacity: 0.8;
}

.cancel-order {
  text-align: center;
  margin-bottom: 3.2rem;
  text-decoration: none;
  color: #7280a7;
}

.cancel-order:hover {
  color: #1f2f56;
  font-weight: 900;
}

.attribution {
  font-size: 1.3rem;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: #3e52a3;
}

@media screen and (max-width: 1024px) {
  .card {
    margin: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 90vw;
  }
  .body {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=main.css.map */